body{
 background-color: bisque;
}

p{
    color:darkgreen;
    font-family: cursive;
}
#puppy2{
    width:250;
}

.title{
    color: coral;
    font-family: fantasy;
}
div.header{
    background-color: red;
}